body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #1e1e1e;
  color: #fff;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 2rem;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: #fff;
  padding: 3px 7px;
  font-size: 12px;
  border-radius: 50%;
}

/* PRODUCTS */
.product-container {
  display: flex;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 250px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

/* .price {
  font-size: 18px;
  margin: 10px 0;
  color: #009688;
  font-weight: bold;
} */

.add-btn {
  padding: 10px 15px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.add-btn:hover {
  background-color: #0b7dda;
}

.remove-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.clear-cart-btn {
  margin: 20px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brand {
  font-size: 13px;
  color: #666;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #2a9d8f;
}

.rating {
  font-size: 13px;
  color: #999;
}

.add-btn-disable {
  background-color: #ccc;
}

.add-btn-disable:hover {
  background-color: #d63838;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.card-container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.cart-header h2 {
  font-size: 20px;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-info img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.item-actions {
  text-align: right;
}

.item-actions .price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.cart-footer {
  text-align: right;
  margin: 15px 0;
  font-weight: bold;
  color: green;
}

.item-actions-container {
  display: flex;
}

.item-quantity {
  margin: 15px;
}
